@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #9999FF;
}

.outter {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    background-color: #F8F8F8;
    width: 400px;
    height: 500px;
    border: 2px solid tomato;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
    overflow-y: auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
}

.box-heading {
    text-align: center;
}

.box-insert {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-insert > textarea {
    margin: 8px 8px;
    border: 1px solid tomato;
    border-radius: 5px;
    padding: 10px 10px;
    font-weight: bold;
}

.box-insert > textarea:focus {
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 5px #719ECE;
}

.box-insert > button {
    border: none;
    margin: 10px;
    padding: 10px 100px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 95, 0, 1);
    box-shadow: 0 0 10px #719ECE;
}

.box-insert > button:hover {
    cursor: pointer;
}

.box-insert > button:active {
    background-color: rgba(255, 95, 0, 0.9);
}


.box-todos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.warning {
    text-align: center;
    margin-top: 20px;
}

.warning >span {
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
}


/* ============= Item CSS ================== */

.item {
    width: 330px;
    padding: 6px 6px;
    border: 2px solid tomato;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 6px 15px -11px rgba(0,0,0,0.75);
    margin: 8px 8px;
}


.todo-title {
    overflow: auto;
    margin-right: 10px;
}


/* Chrome */
.todo-title::-webkit-scrollbar {
    width: 15px;
}

.todo-title::-webkit-scrollbar-track {
  /*background-color: grey;*/
  box-shadow: inset 0 0 5px grey; 
  border-radius: 15px;
}

.todo-title::-webkit-scrollbar-thumb {
  background-color: rgba(255, 95, 0, 1); 
  border-radius: 15px;
  /*border: 1px solid red;*/
}

.todo-title::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 95, 0, 0.7); 
}

/* IE */
.todo-title {
  scrollbar-face-color: orange; 
  scrollbar-shadow-color: grey; 
  scrollbar-highlight-color: red;
}

/* FireFox */
.todo-title {
  scrollbar-color: orange grey;
  scrollbar-width: thin;
}






.todo-title > span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

.item-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.item-action > img[src="check.png"] {
    margin-right: 5px;
}

.item-action > img:hover {
    cursor: pointer;
}